# Kconfig - DFU support configuration options
#
# Copyright (c) 2017 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

#
# DFU
#
menuconfig BOOT_IMG_MANAGER
	bool
	prompt "Image manager for mcuboot"
	default n
	help
	  Enable support for managing DFU image downloaded using mcuboot.

config IMG_BLOCK_BUF_SIZE
	int
	depends on BOOT_IMG_MANAGER
	prompt "Image writer buffer size"
	default 512
	help
	  Size (in Bytes) of buffer for image writer. Must be a multiple of the access alignment required by used flash driver.
